{% extends 'layout.html' %}

{% block pageTitle %}
How would you like to pay for your prepayment certificate?
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="certificate-how-to-pay-for" method="post">
        <div class="nhsuk-form-group">
            <h1 class="nhsuk-heading-xl">How would you like to pay for your prepayment certificate?</h1>
            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-u-visually-hidden">How would you like to pay for your prepayment certificate?</legend>   
                  <div class="nhsuk-radios nhsuk-radios--conditional">             
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="one-off-payment" name="contact" type="radio" value="email" aria-controls="conditional-contact-1" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="one-off-payment">
                        <p>payment <span>(£104)</span></p>
                      </label>
                    </div>             
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="10-monthly-installments" name="contact" type="radio" value="phone" aria-controls="conditional-contact-2" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="10-monthly-installments">
                        Direct debit (10 monthly installments of £10.40)
                      </label>
                    </div>              
                    <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-2">
                        <p>Your first installment will be taken on 18/09/2018. After that you can call us to change the payment date.</p>
                        <p>Your prepayment will automatically renew in 12 months.</p>
                    </div>            
                  </div>
                </fieldset>             
              </div>
        </div>
        <div class="nhsuk-input--width-4"></div>  
          <button class="nhsuk-button" type="submit">
          Next
        </button>
  </div>
</form>
<a href="index"><p>Cancel</p></a>
</div>
</div>
{% endblock %}