{% extends 'layout.html' %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="enter-bank-details" method="post">
        <div class="nhsuk-form-group">
            <p class="nhsuk-body-l">Buy an NHS Prescription Prepayment Certificate</p>
            <h1 class="nhsuk-heading-xl">Check your answers</h1>
            <h2>Your details</h2>
            <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Name
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    TEST TEST
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="what-is-your-name#first-name">
                      Change<span class="nhsuk-u-visually-hidden"> name</span>
                    </a>
              
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Date of birth
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    15 March 1984
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="date-of-birth#day">
                      Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
                    </a>
              
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    NHS number
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    1111111111
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="do-you-know-your-nhs-number">
                      Change<span class="nhsuk-u-visually-hidden"> contact information</span>
                    </a>
              
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Address
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <p>STELLA HOUSE</p>
                    <p>NEWCASTLE UPON TYNE</p>
                    <p>NE15 8NY</p>
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="manual-address">
                      Change<span class="nhsuk-u-visually-hidden"> contact details</span>
                    </a>
              
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                      Get prepayment certificate by text?
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      Yes
                    </dd>
                
                    <dd class="nhsuk-summary-list__actions">
                
                      <a href="certificate-sent-preference">
                        Change<span class="nhsuk-u-visually-hidden"> contact details</span>
                      </a>
                
                    </dd>
                
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Mobile number
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                    
                    </dd>
                
                    <dd class="nhsuk-summary-list__actions">
                
                      <a href="certificate-sent-preference#phone">
                        Change<span class="nhsuk-u-visually-hidden"> contact details</span>
                      </a>
                
                    </dd>
                
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Get prepayment certificate by email?
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                    Yes
                    </dd>
                
                    <dd class="nhsuk-summary-list__actions">
                
                      <a href="certificate-sent-preference#email">
                        Change<span class="nhsuk-u-visually-hidden"> contact details</span>
                      </a>
                
                    </dd>
                
                  </div>

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                    Email
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                    
                    </dd>
                
                    <dd class="nhsuk-summary-list__actions">
                
                      <a href="certificate-sent-preference#email">
                        Change<span class="nhsuk-u-visually-hidden"> contact details</span>
                      </a>
                
                    </dd>
                
                  </div>
              
              </dl>

              <h2>Your prepayment</h2>
              <dl class="nhsuk-summary-list">

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Length
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    12 Months
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="certificate">
                      Change<span class="nhsuk-u-visually-hidden"> name</span>
                    </a>
              
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Starts on 
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    18/09/2018
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="certificate-prepayment">
                      Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
                    </a>
              
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Ends on
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    17/09/2019
                  </dd>
              
                  <dd class="nhsuk-summary-list__actions">
              
                    <a href="certificate-prepayment">
                      Change<span class="nhsuk-u-visually-hidden"> contact information</span>
                    </a>
              
                  </dd>
              
                </div>
              
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Total cost
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    10 installments of £10.40 by Direct Debit
                  </dd>
              
                </div>

                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                    Payment method
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        Card Payment
                    </dd>
                
                    <dd class="nhsuk-summary-list__actions">
                
                      <a href="certificate-how-to-pay-for">
                        Change<span class="nhsuk-u-visually-hidden"> contact details</span>
                      </a>
                
                    </dd>
                
                  </div>
              
              </dl>
            <button class="nhsuk-button" type="submit">
                Confirm
              </button>
        </div>
    </form>
    <a href="index"><p>Cancel</p></a>
    </div>
    </div>
    {% endblock %}