{% extends 'layout.html' %}

{% block pageTitle %}
Prepay your NHS prescriptions
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="done" method="post">
        <h1 class="nhsuk-heading-xl">Confirm and submit</h1>
        <p>By submitting, you are agreeing to pay 10 instalments of £10.40.</p>
        <p>If instalments are not kept up, you are not entitled to use the prepayment. You could choose an alternative method of payment to avoid defaulting.</p>
        <p>If you use the prepayment after failing to pay an instalment, you may have to pay a penalty charge.</p>
        <p>If you repeatedly fail to pay your prepayment instalments, you may not be able to pay by Direct Debit in the future.</p>
        <button class="nhsuk-button" type="submit">
          Confirm and submit
        </button>
        <p><a href="index">Cancel</a></p>
    </form>
  </div>
</div>
{% endblock %}