{% extends 'layout.html' %}

{% block pageTitle %}
What is your address?
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="select-address" method="post">
        <div class="nhsuk-form-group"><!-- Can get rid of this div, put the h1 in the legend and remove the visually hidden class. P goes underneath legend tag -->
            <h1 class="nhsuk-heading-xl">Find your address</h1>
            <p>The address you give should match what is printed on your prescriptions.</p>
            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-u-visually-hidden">Enter your address</legend>
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="address-postcode">
                    Postcode
                  </label>
                  <input class="nhsuk-input nhsuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
                </div>
                <div class="nhsuk-input--width-4"></div> <!-- Can get rid of this, space will be fine if you get rid of the nhsuk-form-group above-->
              </fieldset>
              <a href="manual-address"><p>Enter my address manually</p></a><!-- <a> should be in <p> -->
            <button class="nhsuk-button" type="submit">
                Next
              </button>
        </div>
    </form>
    <a href="index"><p>Cancel</p></a><!-- Same as other page notes-->
   </div>
</div>
{% endblock %}