{% extends 'layout.html' %}

{% block pageTitle %}
Prepay for NHS prescriptions
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="date-of-birth" method="post">
        <div class="nhsuk-form-group">
          <h1>
            Buy an NHS Prescription Prepayment Certificate
          </h1>
          <p class="nhsuk-body-l">
            Save money on NHS prescriptions by prepaying for them.<!-- This is a lead paragraph on the prototype, so the font needs to be slightly better. You can get this by using class="nhsuk-body-l" -->
          </p>
          <p>
            You can pay a set price for prescriptions for 3 or 12 months, no matter how many you need.
          </p>
          <p>A prescription costs £8.80 per item, but prepaying for an unlimited number of prescriptions is:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>£29.10 for 3 months</li>
              <li>£104 for 12 months (or 10 Direct Debit instalments of £10.40)</li>
            </ul>
            <h2 class="nhsuk-heading-l">How it works</h2>
            <div class="nhsuk-inset-text">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p><span class="nhsuk-u-font-weight-bold">We do not send out plastic cards any more because they take time to reach you.</span> They are also costly to the NHS and the environment</p>
            </div>
            <p>We can send your certificate details by email or you can write them down at the end of the service.</p>
            <p>You can use these to collect prescriptions straight away, if your start date is today or earlier.</p>
            <button class="nhsuk-button" type="submit">
              Buy now
            </button>
            <div class="nhsuk-inset-text">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p>The service is changing. You can still use our <a href="#">old service</a> while we learn about this change.</p>
            </div>
            <h3 class="nhsuk-heading-m">Other ways to buy</h3>
            <p>The quickest way to buy a certificate is online. If you can't, there are <a href="#">other ways to buy</a> one.</p><!-- Just need a full stop here-->
        </div>
      </form>
  </div>
</div>
{% endblock %}
