{% extends 'layout.html' %}

{% block pageTitle %}
What is your address?
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="do-you-know-your-nhs-number" method="post">
                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                    <h1 class="nhsuk-heading-xl">Select your address</h1>
                  </legend>
                  <h2 class="nhsuk-fieldset__heading">
                    5 addresses found for NE15 8NY
                  </h2>
                  <div class="nhsuk-form-group">
                  <div class="nhsuk-radios">              
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="address-1" name="address" type="radio" value="yes">
                      <label class="nhsuk-label nhsuk-radios__label" for="address-1">
                        STELLA HOUSE, NEWCASTLE UPON TYNE, NE15 8NY
                      </label>
                    </div>             
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="address-2" name="address" type="radio" value="no">
                      <label class="nhsuk-label nhsuk-radios__label" for="address-2">
                        NHS AMBULANCE SERVICE, NEWCASTLE UPON TYNE, NE15 8NY
                      </label>
                    </div>             
                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="address-3" name="address" type="radio" value="no">
                        <label class="nhsuk-label nhsuk-radios__label" for="address-3">
                        UNIT 1, NEWCASTLE UPON TYNE, NE15 8NY
                        </label>
                    </div>
                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="address-4" name="address" type="radio" value="no">
                        <label class="nhsuk-label nhsuk-radios__label" for="address-4">
                        UNIT 2, NEWCASTLE UPON TYNE, NE15 8NY
                        </label>
                    </div>
                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="address-5" name="address" type="radio" value="no">
                        <label class="nhsuk-label nhsuk-radios__label" for="address-5">
                        UNIT 2, NEWCASTLE UPON TYNE, NE15 8NY
                        </label>
                    </div>
                  </div>
                </fieldset>
              </div>
            <p><a href="manual-address">My address is not listed</a></p>
            <button class="nhsuk-button" type="submit">
                Next
            </button>
    </form>
    </div>
</div>
{% endblock %}